# Ignore the virtual environment directory
myvenv/
.venv/
# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables file
.env

# Other Python-related files
*.db
*.sqlite3

# IDE-specific filescd
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Miscellaneous
*.log


#Email: workbench@gmail.com
#Name: Tyler
#password: 111



